//-
	Created by Владыка Макс on 22.03.2017.

.select-block__prise.js-select3230
	 select
		 option(value='1') названию (а-я)
		 option(value='2') названию (я-а)
		 option(value='3') цене (по возрастанию)
		 option(value='4') цена (по убыванию)
		 option(value='5') популярности
		 option(value='6') оценке товара